body{
	background-color: lightgrey;
	font-family: Verdana;
}
.display-2{
	text-align: center;
}
.farg1{
background-color: #e5233d;
}
.farg2{
background-color: #dda73a;
}
.farg3{
background-color: #4ca146;
}
.farg4{
background-color: #c7212f;
}
.farg5{
background-color: #ef402d;
}
.farg6{
background-color: #27bfe6;
}
.farg7{
background-color: #fbc412;
}
.farg8{
background-color: #a31c44;
}
.farg9{
background-color: #f26a2e;
}
.farg10{
background-color: #e6137c;
}
.farg11{
background-color: #f89d2a;
}
.farg12{
background-color: #bf8d2c;
}
.farg13{
background-color: #3d7f44;
}
.farg14{
background-color: #1f97d4;
}
.farg15{
background-color: #59ba47;
}
.farg16{
background-color: #136a9f;
}
.farg17{
background-color: #14496b;
}